
:root {
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}

.swiper-pagination-bullet {
  background-color: darkgreen;
  margin: 0 10px;
}

.modal-swiper .swiper-pagination-bullet {
  background-color: white;
}

.swiper-wrapper{
  max-width: 600px;
  width: 100%;
  margin-bottom: 45px;
}

.custom-slide {
  background-color: #f0f0f0 !important;
}



@media (max-width: 900px) {
  .swiper-pagination-bullet {
    transform: scale(0.8);
  }
  .swiper-wrapper{
    margin-bottom: 70px;
  }
}

@media (max-width: 600px) {
  .swiper-wrapper {
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .modal-swiper .swiper-wrapper{
    margin-bottom: 15px;
  }
}

